extends index_layout
block content
    h1 Wollkommen beim Schussmanager v.2.1.
    h2 Bitte wählen sie ihre Ansicht:
    div.form-inline(role='form')
        a.btn.btn-default(href='/manager' role='button') Manager-Ansicht
        a.btn.btn-default(href='/view' role='button') Präsentations-Ansicht