extends manager_layout
block content
  nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    div.navbar-header
      a.navbar-brand Kickerturnier
    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='javascript:void(0)', ng-click='sendData()') SaveData
        li.dropdown
          a.dropdown-toggle(href='javascript:void(0)' data-toggle='dropdown') Runde +
          ul.dropdown-menu
            li(ng-repeat='item in db.group')
              a(href='javascript:void(0)' ng-click='item.runde = item.runde + 1') {{item.gruppe}} Runde: {{item.runde}}

        li.dropdown
          a.dropdown-toggle(href='javascript:void(0)' data-toggle='dropdown') Runde -
          ul.dropdown-menu
            li(ng-repeat='item in db.group')
              a(href='javascript:void(0)' ng-click='item.runde = (item.runde == 0) ? 0 : item.runde-1') {{item.gruppe}} Runde: {{item.runde}}

  div#accordion.panel-group
    div.panel.panel-default
      div.panel-heading(data-toggle="collapse", data-parent="#accordion",data-target='#collapseOne')
        h2.panel-title Vorbereitung
      div#collapseOne.panel-collapse.collapse.in
        div.panel-body
          label(for='groupsCnt2') Gruppenanzahl:
          
          div.btn-group
            button.btn.btn-default(type='submit', ng-click="addGroupBtn_pressed()")
              span.glyphicon.glyphicon-plus
            button.btn.btn-default(type='submit', ng-click="db.showAlert = true")
              span.glyphicon.glyphicon-minus
          
          div
            div.row
              div.col-xs-6.sec_div.col-md-3(ng-repeat='item in db.group') {{item.gruppe}}
                  input.form-control(type='text', placeholder='Teamname', ng-repeat='team in item.teams', ng-model='team.name', ng-blur='onblur($parent.$index,$index)', ng-change='onchange($parent.$index,$index)')

            button#createPlay.btn(type='submit', ng-click='sendGroup()') Spielplan erstellen
    div.panel.panel-default
      div.panel-heading(data-toggle="collapse", data-parent="#accordion",data-target='#collapseTwo')
        h2.panel-title Spielpläne
      div#collapseTwo.panel-collapse.collapse.row
        div#sec2.sec_div.col-xs-12.col-md-6(ng-repeat='item in db.playlist'){{item.gruppe}}
          table.table.table-striped.table-condensed.table-striped
            tr(ng-repeat ='match in item.liste')
              td Runde: {{$index+1}}
              td.point_select_td
                div.point_select_div
                  span.point_select_span.btn.btn-default {{match.punkte1}}
                  select.form-control.selector(ng-model='match.punkte1',ng-options='sel for sel in db.selects') 
              td {{match.name1}}
              td :
              td {{match.name2}}
              td.point_select_td
                div.point_select_div
                  span.point_select_span.btn.btn-default {{match.punkte2}}
                  select.form-control.selector(ng-model='match.punkte2',ng-options='sel for sel in db.selects') 
          

  
  div#remGroupAlert(ng-show='db.showAlert')
    div.alert.alert-danger.fade.in
      h4 Warnung!
      p Dies Löscht möglicherweise wichtige Daten!! 
      button.btn.btn-danger(type="button", ng-click="remGroupAlert_OKBtn_pressed()") Trotzdem ausführen
      button.btn.btn-default(type="button", ng-click="db.showAlert=false") Abbrechen

  div#connectAlert
    div#connect2Alert
      p  Verbinde zum Server!
      p   und lade Daten.
      div.progress.progress-striped.active(style='width: 50%')
        div.progress-bar(role="progressbar", style="width: 100%")

  script(src="/javascripts/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/collapse.js")
  script(src="/javascripts/alert.js")
  script(src="/javascripts/dropdown.js")
  script(src="/javascripts/manager.js")