body {
padding: 20px;
font-size: 18px ;
background-image: url(fooseball_close_radial.jpg); 
background-size: cover;
color: rgb(255,200,0); 
}
table {

}
h1{
	text-align: center;
}
.number_td{
	width: 20px;
}
.name_td{
	width: auto;
}
.centree{
	text-align: center;
}
#vs{
	text-align: center;
	width: 5px;
}
#naming{
	width: 20px;
}
.fade {
   opacity: 1;
   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
}
.fade2{
	opacity: 0;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: rgba(255,255,255,0.2);
}