body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.test {
    float: left;
}
.test_end{
    clear:both;
}

.sec_div input {
    width: 150px;
}
#btnGroup1{
    padding-left: 20px;
}